@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="table-responsive">
    <a href="/Home/Create/" class="btn btn-primary">Create</a>
    <table id="example" class="display" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th class="text-start">Sr no</th>
                <th class="text-start">Department Id</th>
                <th>Department Name</th>
                @* <th>Employee's No</th> *@
            </tr>
        </thead>

        <tbody id="departmentList">
        </tbody>
    </table>
</div>

<div id="editCustomerModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCustomerModalLabel">Edit Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editCustomerForm">
                    <input type="hidden" class="form-label" id="customerId" />
                    <div class="mb-3">
                        <label for="deptName" class="form-label"> Department Name </label>
                        <input type="text" class="form-control" id="deptName" required>
                        <span id="deptName"></span>
                    </div>
                    <div class="mb-3">
                        <label for="deptManager" class="form-label"> Manager of Dept </label>
                        <input type="text" class="form-control" id="deptManager" required>
                        <span id="deptManager"></span>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="updateCustomer()">Update</button>
            </div>
        </div>
    </div>
</div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            alert('Hi');
            // This function will run when the page is fully loaded
            $.ajax({
                url: 'https://localhost:7063/api/Department',  // The API endpoint
                type: 'GET',                    // HTTP method (GET for retrieving data)
                contentType: 'application/json',// The type of data you are sending/receiving
                success: function (response) {
                    console.log(response);
                    var tableBody = $('#departmentList');
                    tableBody.empty();

                    response.forEach(function (dept, index) {
                        var row = '<tr>' +
                            '<td class="text-start">' + ++index + '</td>' +
                            '<td>' + dept.deptID + '</td>' +
                            '<td>' + dept.departmentName + '</td>' +
                            '<td>' +
                            '<button class="btn btn-primary btn-sm m-1 rounded-3" onclick="editDepartment(' + dept.deptID + ')">Edit</button>' +
                            '<button class="btn btn-danger btn-sm rounded-3" onclick="deletedept(' + dept.deptID + ')">Delete</button>' +
                            '</td>' +
                            '</tr>';
                        tableBody.append(row);
                    });

                },
                error: function (xhr, status, error) {
                    // This function runs if there's an error
                    console.error("Error fetching data: ", error);  // Log the error in the console
                }
            });
        });



        // Function to delete a department
        function deletedept(deptID) {
            debugger;
            const apiURL = 'https://localhost:7063/api/Department/' + deptID;
            debugger;
            $.ajax({
                url: apiURL,
                type: 'DELETE',
                contentType: 'application/json',
                success: function (response) {
                    if (!response.result) {
                        alert(response.message);
                    }
                    else {
                        alert(response.message);
                        window.location = '/Home/Index';

                    }
                    console.log(response);
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert(xhr.responseJSON.message);
                }
            });
        }


        function editDepartment(DeptID) {
            debugger;

            var editApiUrl = 'https://localhost:7063/api/Department/' + DeptID;
            debugger;
            $.ajax({
                url: editApiUrl,
                type: 'GET',
                dataType: 'json',
                success: function (customer) {
                    debugger;
                    console.log(customer);
                    document.getElementById('deptName').value = customer.departmentName;
                    document.getElementById('deptManager').value = customer.deptID;

                    var editCustomerModal = new bootstrap.Modal(document.getElementById('editCustomerModal'));
                    editCustomerModal.show();

                },
                error: function (xhr, textStatus, errorThrown) {
                    debugger;
                    console.error('Error:', errorThrown);
                }
            });
        }

        function updateCustomer() {
            debugger;
            alert("Update button clicked!");
            var formData = {
                deptID: $('#deptManager').val(),
                departmentName: $('#deptName').val(),
            };
         
            const apiURL = 'https://localhost:7063/api/Department/' + formData.deptID;

                $.ajax({
                    url: apiURL,
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function (response) {
                        alert('Department Updated successfully!');
                        if (!response.result) {
                            alert(response.message);
                        }
                        else {
                            //success redirect to login Page
                            alert(response.message);
                            window.location = '/Home/Department';

                        }
                        console.log(response);
                        // Handle success, redirect to another page, show a success message, etc.
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert(xhr.responseJSON.message);
                        // Handle error, display error message, etc.
                    }
                });
        }

    </script>

}
